.cvEmilieDelsol{
    max-width: 1024px;
    margin: auto;
    border: solid black 1em;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}
.myName{
    font-family: 'Spectral SC', serif;
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5em;
}

.jobTitle{
    font-family: 'Spectral SC', serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5em;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.email{
    color: black;
    text-decoration: none;
}
.email:hover{
    text-decoration: underline;
}

.competences article{
    margin-top: 2em;
    margin-bottom: 2em;
}

.cvMain{
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.cvMain .group-list li{
    margin-top: 1em;
}


/*general*/
.text-center{
    text-align: center;
}

.group-list{
    list-style: none;
    padding: 0;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 0.2em ;
    padding-bottom: 0.2em ;
}

.links a{
    color: white;
}

.links span{
    display: none;
}

.competences article, .formations{
    border-top: solid 0.2rem;
}

.interest {
    border-bottom: solid 0.2rem;
}


.XPtitle{
    text-transform: capitalize;
    margin-bottom: 0.5em;
}

.sub-title{
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0.5rem;

}

.categoryTitle{
    font-family: 'Spectral SC', serif;
    text-transform: uppercase;
    font-size: 1.6em;
    margin-bottom: 0;
}
.profile-photo{
    text-align: center;
}
img{
    max-width: 70%;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.emilie{
    display: none;
}

.bold{
    font-weight: bold ;
}

.light-grey{
    color: rgb(104, 104, 104);
}

.details{
    margin: 0;
    font-style: italic;
    font-weight: normal;
}
.langages, .dates{
    margin: 0;
}

@media screen and (min-width: 992px) {
    .cv-emilie-delsol{
        border:none;
        background: rgb(204,204,204);
    }

    .cvMain{
        display: grid;
        grid-template-columns: 2fr 3fr;
    }


    .competences{
        grid-column: 1;
        padding: 1em;
        margin-left: 1em;
        margin-right: 2em;
    }

    .XPnForm{
        grid-column: 2;
        padding: 1em;
        padding-top: 0;
        margin-left: 2em;
        margin-right: 1em;

    }
    .contact, .links{
        flex-direction: row;
    }

    .links span{
        display: inline;
    }

    .jobTitle{

        font-size: 3rem;
    }
}
